p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h1 {
    text-align: center;
}

.person-container {
    padding: 20px 20px;
}

.people-container:nth-child(odd){
    background-color: lightgrey;
}

.sort-name{
    margin: 30px 10px;
}

.delete-button-container {
    display:inline-block;
    float:right;
}