<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>

</head>
<body>

    <h1>ZETA! numbers!</h1>
    <div class="container" ng-controller="WelcomeController">

        <div class="inputForm">
        <!--<form id="addPerson">-->
            <input ng-model="info.name" type="text" placeholder="Enter Name">
            <input ng-model="info.location" type="text" placeholder="Enter Location">
            <input ng-model="info.number" type="text" placeholder="Enter Favorite Number">
        <!--</form>-->
            <button ng-click="postPeople(info)" class="btn btn-primary">Add Entry</button>

        </div>

        <button class="sort btn btn-info" ng-click="reverse=!reverse;order('-name', reverse)">Sort By Name<span class="sort-order" ng-show="predicate == '-name'" ng-class="{reverse:reverse}"></span></button>
        <button class="sort btn btn-warning" ng-click="reverse=!reverse;order('-location', reverse)">Sort By Location<span class="sort-order" ng-show="predicate == '-location'" ng-class="{reverse:reverse}"></span></button>
        <button class="sort btn btn-success" ng-click="reverse=!reverse;order('-number', reverse)">Sort By Favorite Number<span class="sort-order" ng-show="predicate == '-number'" ng-class="{reverse:reverse}"></span></button>
        <button class="sort btn btn-default" ng-click="order('_id', false)">Reset</button>

        <div class="people-container" ng-repeat="people in peopleArray">
            <!--<div class="delete-button-container">-->
                <!--<button class="delete btn btn-danger" ng-click="deletePerson(people._id)">Delete</button>-->
            <!--</div>-->
            <zeta-info info="people" action="deletePerson({param: people._id})"></zeta-info>
        </div>

    </div>

</body>
</html>